{% extends "AppNico/padre.html" %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block section1 %}
    <h1>Login</h1>

    <form action=""method="POST"> {% csrf_token %}
        
        <table>

            {{ mi_formulario2.as_table }}

        </table>

        <input type="submit" value="Enviar">
    </form>
    {% endblock %}
</body>
</html>