{% extends "AppNico/padre.html" %}

{% load static %}

{% block section2 %}

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppNico/assets/img/02.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Una pagina ambientada para cursos online</h2>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}