{% extends "AppNico/padre.html" %}

{% load static %}

{% block section4 %}

<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppNico/assets/img/02.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Te saludamos en nuestro nuevo proyecto</h2>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}