{% extends "AppNico/padre.html" %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <form action="formulario/"method="POST">{% csrf_token %}

        <p>Login <input type="text" name="Login"></p>

        <p>Register <input type="text" name="Register"></p>

        <input type="sumbit" value="Enviar">
        <table>
            {{mi_formulario.as_table}}
        </table>
    </form>
</body>
</html>