{% extends "AppNico/padre.html" %}

{% load static %}

{% block section1 %}
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppNico/assets/img/01.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Bienvenidos a la pagina de inicio</h2>
                    <p>Estoy aprendiendo este nuevo mundo!</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}